*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    display: inline-block;
    list-style: none;
}

.header{
    display: flex;
    background-color: #1F2937;
    padding: 0px 10%;
    align-items: center;
}

.headerlogo{
    display: flex;
    justify-content: left;
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.headerlinks{
    display: flex;
    justify-content: right;
    color: #e5e7eb;
    font-size: 18px;
}

.splash{
    display: flex;
    color: #e5e7eb;
    background-color: #1F2937;
    padding: 40px 0;
}

.splash-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.splash-img{
    display: flex;
    width: 50%;
}

.pic-container{
    display: flex;
}

.random-info{
    display: flex;
    justify-content: center;
}

.four-pics{
 display:  flex;
 justify-content: space-evenly;
}

.four-info{
    display:  flex;
    justify-content: space-evenly;
}

.pic-img img{
    border-radius: 30px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.the-quote{
    display: flex;
    margin: 3% 20% 0 20%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.de-quotee{
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
}

.action{
    display: flex;
    background-color: #3882f6;
    margin: 50px 100px;
    justify-content: space-evenly;
}

.action-text{
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}

#action-button{
    border-radius: 5px;
    background-color: #3882f6;
    border-color: #f9faf8;
    border-style: double;
    margin:5%;
    padding: 0 5%;
    color: #f9faf8;
    font-size: 18px;
}

.copyright{
    display: flex;
    background-color: #1F2937;
    padding: 15px;
    justify-content: center;
    color: #e5e7eb;
}